<!DOCTYPE html>
<html>
<head>
  	<title>问题反馈</title> 
  
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- 引入 jQuery 库 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body class="gray-bg">
  
<div data-role="page">
  <div data-role="header">
    <h1>欢迎，{$name}同学</h1>
    <div data-role="navbar">
      <ul>
        <li><a href="{:url('http://gengzehao.com/qasystem/test/index')}" data-icon="home" >问题反馈</a></li>
        <li><a href="{:url('feedback/index')}"  target=“_self” data-icon="search">反馈查询</a></li>
        <li><a href="#" data-icon="arrow-r">建议</a></li>
      </ul>
    </div>
  </div>

  <div data-role="main" class="ui-content">
   
  	<!-- start-->
      <div id="page-wrapper">
        <div id="page-inner">
            <form class="form-horizontal" id="navigation">
                <div class="form-group">
                    <label for="sourceModule" class="col-sm-2 control-label">分类选择:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="projectType" name="projectType">
                            <option value=""> - 分类 -</option>
                            <option value="shitang">食堂 </option>
                            <option value="sushe">宿舍 </option>
                            <option value="jiaowu">教务 </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sourceId" class="col-sm-2 control-label">项目选择:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="projectId" name="projectId">
                            <option value="">- 关联项目 -</option>
                        </select>
                    </div>
                </div>
                <div class="form-group"> 
                  <label for="sourceId" class="col-sm-2 control-label">问题阐述:</label>
                  <div class="col-sm-10">
                      <textarea class="form-control" rows="8"></textarea> 
                  </div>
                </div> 
             </form>
          </div>
		</div>
		<!-- end-->
        
    </div>
  <div data-role="footer" data-position="fixed">
    <h1>北京大学软件与微电子学院</h1>
  </div>
</div> 




<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    	//绑定分类下拉框选项变化事件
    	   $("#projectType").on('change',
    	            function () {
    	                var projectType = $(this).val();
    	                $('#projectId').val('').trigger('change');
    	                if (projectType == '') {
    	                	$("#projectId").empty().append('<option value="" >- 关联项目 -</option>');
    	                    return;
    	                }

    	                var projectsMap = {};
    	                if (projectType == 'shitang') {
    	                    var projectsMap = {
    	                       '1':'卫生','2':'菜品',
    	                    };
    	                } else if (projectType == 'sushe') {
    	                    var projectsMap = {
    	                    		 '3':'报修','4':'其他',
    	                    };
    	                }else if (projectType == 'jiaowu') {
    	                    var projectsMap = {
    	                    		 '5':'考试','6':'学分',
    	                    };
    	                }
    	                var option = "";
    	                for (var i in projectsMap) {
    	                        option += '<option value="' + i + '"  >' + projectsMap[i] + '</option>';
    	                }

    	                $("#projectId").empty().append('<option value="" >- 关联项目 -</option>' + option);


    	            });

    });

</script>
</body>
</html>
